<h1>Tasks</h1>

<%= link_to "New Taskeriño", new_task_path %>

<div id="tasks" class="incomplete-task-list">
    <% @tasks.each do |task| %>
        <% if !task.complete?%>
            <div id="<%="task-#{task.id}"%>">
                <h2><%= link_to task.name, task %></h2>
                <p>Due: <%= task.due || "No Due Date"%></p>
                
                <%= link_to "Mark as complete", complete_task_path(task.id), method: :put %>
            </div>
        <% end %>
    <% end %>
</div>