
<h1>New Taskeriño</h1>
<%= form_for(@task) do |f| %>
  <p>
    <%= f.label :name, "This the new task!" %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :due, "Due at..." %><br>
    <%= f.text_field :due %>
  </p>
  <%= f.submit %>
<% end %>
<% if @task.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@task.errors.count, "error") %>
    prohibited this task from being saved:</h2>

    <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>