<% title(@task.name) %>
<h2><%= @task.name %> </h2>
<p><%= @task.due || "No Due Date" %></p> 
<%= simple_format(@task.description) %>
  <% if @task.attachment.present? %>
    <h4>Attachment</h4>
    <div class="attachment">
      <p>
        <%= link_to File.basename(@task.attachment.url),
          @task.attachment.url %>
        (<%= number_to_human_size(@task.attachment.size) %>)
    </p> 
  </div>
<% end %>
<%= link_to "Edit Task", edit_task_path(@task) %>

<%= link_to "Kill This Fool", 
  task_path(@task), 
  method: :delete, 
  data: {confirm: "Wow, that's a little aggressive. Are you sure?"}
%>

<%= link_to "Back to Tasks", tasks_path %>